<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Edea</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=480, maximum-scale=1.0, initial-scale=1"/>
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/final.css">

</head>

<body class="home-page">
<header class="header-home">
	<div class="header-home-flex">
		<a href="" class="header-home-left">
			<img src="img/logo3.svg" alt="" class="header-home-logo">
		</a>
		<div class="header-home-right">
			<ul class="header-home-list">
				<li class="header-home-item">
					<a href="" class="header-home-item-link active">Home</a>
				</li>
				<li class="header-home-item">
					<a href="" class="header-home-item-link">About</a>
				</li>
				<li class="header-home-item">
					<a href="" class="header-home-item-link">Pricing</a>
				</li>
			</ul>
			<a href="" class="header-home-btn header-home-btn_white">Sign In</a>
			<a href="" class="header-home-btn header-home-btn_green">Join</a>
			<div class="header-home-menu">
				<span class="header-home-line header-home-line_top"></span>
				<span class="header-home-line header-home-line_center"></span>
				<span class="header-home-line header-home-line_bottom"></span>
			</div>
		</div>
	</div>
</header>
<main class="home">
	<section class="home-first">
		<div class="home-container">
			<div class="home-first-flex">
				<div class="home-first-left">
					<h1 class="home-first-title"><span class="text-bold-mob">Let’s grow </span> your business, <span class="text-bold">together.</span></h1>
					<p class="home-first-description">Join the built environment community today.</p>
					<ul class="home-first-list">
						<li class="home-first-item">Expand your professional network</li>
						<li class="home-first-item">Build a winning team</li>
						<li class="home-first-item">Offer jobs and get opportunities</li>
						<li class="home-first-item">Share and gain knowledge</li>
					</ul>
					<div class="home-first-btn-list">
						<a href="" class="home-first-btn home-first-btn-create">Create Free Account</a>
						<a href="" class="home-first-btn home-first-btn-sing">Sign In</a>
					</div>
				</div>
				<div class="home-first-right"></div>
			</div>
			<div class="home-company">
				<p class="home-company-title">Trusted by</p>
				<div class="home-company-main">
					<ul class="home-company-list">
						<li class="home-company-item">
							<img src="img/apple.svg" alt="" class="home-company-img">
						</li>
						<li class="home-company-item home-company-item_custom">
							<img src="img/amazon.svg" alt="" class="home-company-img">
						</li>
						<li class="home-company-item">
							<img src="img/intuit.svg" alt="" class="home-company-img">
						</li>
						<li class="home-company-item">
							<img src="img/dropbox.svg" alt="" class="home-company-img">
						</li>
						<li class="home-company-item">
							<img src="img/ucla.svg" alt="" class="home-company-img">
						</li>
						<li class="home-company-item">
							<img src="img/air.svg" alt="" class="home-company-img">
						</li>
						<li class="home-company-item">
							<img src="img/google-logo.svg" alt="" class="home-company-img">
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>
	<section class="home-second">
		<div class="home-container">
			<h3 class="home-second-title">Find the right professionals to make your project a success</h3>
			<div class="home-second-list-flex">
				<ul class="home-second-list">
					<li class="home-second-item">
						<img src="img/cat1.svg" alt="" class="home-second-img" width="82px">
						<p class="home-second-subtitle">Architecture & Design</p>
					</li>
					<li class="home-second-item">
						<img src="img/cat2.svg" alt="" class="home-second-img" width="60px">
						<p class="home-second-subtitle">Engineering Services</p>
					</li>
					<li class="home-second-item">
						<img src="img/cat3.svg" alt="" class="home-second-img" width="39px">
						<p class="home-second-subtitle">Sustainability & Energy</p>
					</li>
					<li class="home-second-item">
						<img src="img/cat4.svg" alt="" class="home-second-img" width="54px">
						<p class="home-second-subtitle">Consulting & Surveying</p>
					</li>
					<li class="home-second-item">
						<img src="img/cat5.svg" alt="" class="home-second-img" width="39px">
						<p class="home-second-subtitle">Management &<br class="home-second-br"> Construction</p>
					</li>
					<li class="home-second-item">
						<img src="img/cat6.svg" alt="" class="home-second-img" width="47px">
						<p class="home-second-subtitle">Development & Sales</p>
					</li>
					<li class="home-second-item">
						<img src="img/cat7.svg" alt="" class="home-second-img" width="50px">
						<p class="home-second-subtitle">Modeling & Visualization</p>
					</li>
					<li class="home-second-item">
						<img src="img/cat8.svg" alt="" class="home-second-img" width="56px">
						<p class="home-second-subtitle">Parametric & Optimization</p>
					</li>
				</ul>
			</div>

		</div>
	</section>
	<section class="home-third">
		<div class="home-container">
			<h3 class="home-second-title">What's in it for you?</h3>
			<div class="home-third-main">
				<div class="home-third-row">
					<div class="home-third-item">
						<img src="img/home-img1.svg" alt="" class="home-third-img home-third-img_first">
					</div>
					<div class="home-third-item">
						<h6 class="home-third-subtitle">Expand your professional network</h6>
						<p class="home-third-text">Our community is made of like-minded individuals working on exciting projects. Expand your network with the right kind of people to inspire you. EDEA is the go-to community for professional connections and finding specialists in complementary fields.</p>
					</div>
				</div>
				<div class="home-third-row">
					<div class="home-third-item">
						<h6 class="home-third-subtitle">Build a winning team</h6>
						<p class="home-third-text">Make your projects a success by finding professionals quickly. Find the complementary capabilities you need to complete assignments with a global talent pool. Design and build efficiently by working together.</p>
					</div>
					<div class="home-third-item">
						<img src="img/home-img2.svg" alt="" class="home-third-img home-third-img_second">
					</div>
				</div>
				<div class="home-third-row">
					<div class="home-third-item">
						<img src="img/home-img3.svg" alt="" class="home-third-img home-third-img_third">
					</div>
					<div class="home-third-item">
						<h6 class="home-third-subtitle">Jobs and opportunities</h6>
						<p class="home-third-text">Post jobs to find the right professional for your next great project. Receive suitable opportunities directly to your inbox. Expand your business, do what you are best at, and enjoy the flexibility of working online in a global community.</p>
					</div>
				</div>
				<div class="home-third-row">
					<div class="home-third-item">
						<h6 class="home-third-subtitle">Knowledge sharing</h6>
						<p class="home-third-text">Join our community of experts and share what you know. See what others are doing and stay up-to-date with the latest and greatest developments in the Architecture, Engineering and Construction fields.</p>
					</div>
					<div class="home-third-item">
						<img src="img/home-img4.svg" alt="" class="home-third-img home-third-img_fourth">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="home-fourth">
		<div class="home-container">
			<div class="home-fourth-slider">
				<div class="home-fourth-item">
					<p class="home-fourth-text">“Alone we can do so little, together <br class="home-fourth-br"> we can do so much.'' <span class="light-text">Helen Keller</span></p>
				</div>
				<div class="home-fourth-item">
					<p class="home-fourth-text">“Alone we can do so little, together <br class="home-fourth-br"> we can do so much.'' <span class="light-text">Helen Keller</span></p>
				</div>
				<div class="home-fourth-item">
					<p class="home-fourth-text">“Alone we can do so little, together <br class="home-fourth-br"> we can do so much.'' <span class="light-text">Helen Keller</span></p>
				</div>
			</div>
		</div>
		<div class="home-fourth-spot"><img src="img/spot.svg" alt="spot"></div>
	</section>
	<section class="home-fifth">
		<div class="home-container">
			<div class="home-fifth-main">
				<h4 class="home-fifth-title">Invite friends and grow the community</h4>
				<p class="home-fifth-text">By inviting others you’ll contribute to creating a high quality community of professionals.
					To show you our appreciation for your support, <span class="text-bold">we’ll happily grant you and your friends
					<span class="nowrap">1 month</span> of Free full membership for each new member !</span></p>
				<form action="" class="home-fifth-form">
					<input type="email" class="home-fifth-input" placeholder="Add Emails" required>
					<button type="submit" class="home-fifth-btn">Send <span class="home-fifth-btn-hide"> invitations</span></button>
				</form>
				<p class="home-fifth-description">Separate multiple emails with commas or copy from your Excel file</p>
				<div class="invite-social">
					<h4 class="invite-social-title">Share our community with your network</h4>
					<div class="invite-social-list">
						<a href="" class="invite-social-item invite-social-item_tel"></a>
						<a href="" class="invite-social-item invite-social-item_in"></a>
						<a href="" class="invite-social-item invite-social-item_fb"></a>
						<a href="" class="invite-social-item invite-social-item_inst"></a>
						<a href="" class="invite-social-item invite-social-item_pr"></a>
					</div>
				</div>
				<img src="img/invite-img.svg" alt="" class="home-fifth-img">
			</div>
			<div class="home-fifth-bottom">
				<h6 class="home-fifth-subtitle">Work smarter and better, <span class="text-bold">together.</span></h6>
				<a href="" class="home-fifth-link">Create Free Account</a>
				<p class="home-fifth-underlink">No spam. No small letters. No hidden costs.</p>
				<img class="home-fifth-vasa" src="img/vase.svg" alt="vasa">
			</div>
		</div>
	</section>
</main>
<footer class="footer-home">
	<div class="home-container">
		<div class="footer-home-flex">
			<div class="footer-home-pro">
				<div class="footer-home-title">Find a Pro</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Architecture & Design</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Engineering & Building services</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Sustainability & Energy</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Consulting & Surveying</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Management & Construction</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Development & Sales</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Modeling & Visualization</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Programming & Optimization</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-community">
				<div class="footer-home-title">Community</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">People</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Teams</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Articles</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Projects</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Products</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Courses</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Events</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-upgrade">
				<div class="footer-home-title">Upgrade</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Post a job</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Create a team</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Virtual workspace</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Secured transfer</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Affiliate program</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Become a partner</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Invite a friend</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-about">
				<div class="footer-home-title">About</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">About us</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Site Map</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Pricing</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Terms of services</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Terms of use</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Contact us</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-social">
				<div class="footer-home-logo"><img class="footer-home-logo" src="img/logo.svg" alt="logo"></div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-one" src="img/fb.svg" alt="facebook"></a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-two" src="img/in.svg" alt="facebook"></a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-tree" src="img/tw.svg" alt="facebook"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-home-flex">
			<div class="footer-home-made">Made with<img class="footer-home-heart" src="img/heart.svg" alt="heart">by edea.
				<br class="footer-home-br">All rights reserved to © Michael Levy, founder of edea.</div>

		</div>
	</div>


</footer>
<div id="map"></div>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
