<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Edea</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=414, maximum-scale=1.0, initial-scale=1"/>
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/final.css">

</head>

<body class="home-page">
<header class="header-home">
	<div class="header-home-flex">
		<a href="" class="header-home-left">
			<img src="img/logo3.svg" alt="" class="header-home-logo">
		</a>
		<div class="header-home-right">
			<ul class="header-home-list">
				<li class="header-home-item">
					<a href="" class="header-home-item-link">Home</a>
				</li>
				<li class="header-home-item">
					<a href="" class="header-home-item-link active">About</a>
				</li>
				<li class="header-home-item">
					<a href="" class="header-home-item-link">Pricing</a>
				</li>
			</ul>
			<a href="" class="header-home-btn header-home-btn_white">Sign In</a>
			<a href="" class="header-home-btn header-home-btn_green">Join</a>
			<div class="header-home-menu">
				<span class="header-home-line header-home-line_top"></span>
				<span class="header-home-line header-home-line_center"></span>
				<span class="header-home-line header-home-line_bottom"></span>
			</div>
		</div>
	</div>
</header>
<main class="about">
	<section class="about-first">
		<div class="about-container">
			<div class="about-first-flex">
				<div class="about-first-center">
					<h1 class="about-first-title">The <span class="text-bold">coworking community </span> <br class="about-first-br">for
						the built environment industry</h1>
					<p class="about-first-description">Imagine how you can grow your business with the right network.
						Imagine a place where you are able to find like-minded experts from all over the globe who could
						offer you expertise at the right time for the right price. Imagine a place where you can learn,
						share knowledge and grow together. This is EDEA.
						<span class="about-first-description-span">
							EDEA is a coworking hub for the AEC/Built environment industry.
						We connect freelancers, entrepreneurs, businesses and clients in order to match great talents to great projects.
						The community provides you flexibility and efficiency by working together online in a digital workspace -
						from anywhere in the world.
						</span>
					</p>
					<div class="about-first-btn-center">
						<a href="#" class="about-first-btn">Read More</a>
					</div>
					<p class="about-first-description about-first-hide">
						EDEA is a coworking hub for the AEC/Built environment industry.
						We connect freelancers, entrepreneurs, businesses and clients in order to match great talents to great projects.
						The community provides you flexibility and efficiency by working together online in a digital workspace -
						from anywhere in the world.
					</p>

				</div>
			</div>
		</div>
		<!--<div class="about-city">-->
			<!--<div class="about-city-left">-->
				<!--<img src="img/left-city.svg" alt="city" class="about-city-img about-city-img-left">-->
			<!--</div>-->
			<!--<div class="about-train"><img src="img/train.svg" alt="train" class="about-city-img about-city-img-center"></div>-->
			<!--<div class="about-city-right">-->
				<!--<img src="img/right-city.svg" alt="city" class="about-city-img about-city-img-right">-->
			<!--</div>-->
		<!--</div>-->
	</section>
	<section class="about-second">
		<div class="about-container">
			<div class="about-second-flex">
				<h4 class="about-second-title">How it all began</h4>
				<p class="about-second-description">
					In 2017 I had this crazy idea.
					<br><br>
					It all started when I was looking for a professional to help me in the process of designing a new University building. As
					an independent architect and sustainability consultant, I needed complementary skills to make this project successful. It
					occured to me that one of school friends, Akshay Gupta, was available. We decided to work together. It turned out so
					well, that I thought to myself that it would be a shame not to collaborate more.
					<br><br>
					How cool would it be if I could easily find a trustworthy specialist through an online platform, and work together easily?
					<br><br>
					I shared my crazy idea with Ben Croxford and a few UCL Alumni that studied with me in the Msc EDE (to name a few:
					Antonio Pisano, Akshay Gupta, Diana Dina, Georgios Askounis, Greta Caruana, Daniel Rodriguez, Antonio Menéndez,
					Veronica Ochoa, Georgios Mapentzidis, Héctor Enrique and Sakher Malkawi). Apparently there were a bit crazy as well,
					because they all loved it.
					<br><br>
					I’ve assembled a team and together, and we created this platform to bring the community together. My vision is to help
					all of us to get lots of new connections, share ideas and win inspiring projects through the power of our network.
				</p>
				<h4 class="about-second-title">What we offer</h4>
				<p class="about-second-description">Whether you’re employed or independent, new to the industry or a qualified professional  - you’re welcome to join the
					community to share your experience, learn from others and grow your business.</p>
			</div>
		</div>
	</section>
	<section class="about-third">
		<div class="about-container">
			<div class="about-third-flex">
				<h6 class="about-third-subtitle"><span class="text-bold-mob">Let's grow</span> your business, <span class="text-bold">together.</span></h6>
				<a href="" class="about-third-link">Create Free Account</a>
				<p class="about-third-underlink">No spam. No small letters. No hidden costs.</p>
				<div class="about-third-spot"><img src="img/spot.svg" alt="spot"></div>
			</div>

		</div>

	</section>
</main>
<footer class="footer-home">
	<div class="home-container">
		<div class="footer-home-flex">
			<div class="footer-home-pro">
				<div class="footer-home-title">Find a Pro</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Architecture & Design</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Engineering & Building services</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Sustainability & Energy</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Consulting & Surveying</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Management & Construction</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Development & Sales</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Modeling & Visualization</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Programming & Optimization</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-community">
				<div class="footer-home-title">Community</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">People</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Teams</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Articles</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Projects</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Products</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Courses</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Events</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-upgrade">
				<div class="footer-home-title">Upgrade</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Post a job</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Create a team</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Virtual workspace</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Secured transfer</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Affiliate program</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Become a partner</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Invite a friend</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-about">
				<div class="footer-home-title">About</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">About us</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Site Map</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Pricing</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Terms of services</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Terms of use</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Contact us</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-social">
				<div class="footer-home-logo"><img class="footer-home-logo" src="img/logo.svg" alt="logo"></div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-one" src="img/fb.svg" alt="facebook"></a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-two" src="img/in.svg" alt="facebook"></a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-tree" src="img/tw.svg" alt="facebook"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-home-flex">
			<div class="footer-home-made">Made with<img class="footer-home-heart" src="img/heart.svg" alt="heart">by edea.
				<br class="footer-home-br">All rights reserved to © Michael Levy, founder of edea.</div>

		</div>
	</div>


</footer>
<div id="map"></div>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
