<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Edea</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=414, maximum-scale=1.0, initial-scale=1"/>
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/final.css">

</head>

<body class="home-page">
<header class="header-home">
	<div class="header-home-flex">
		<a href="" class="header-home-left">
			<img src="img/logo3.svg" alt="" class="header-home-logo">
		</a>
		<div class="header-home-right">
			<ul class="header-home-list">
				<li class="header-home-item">
					<a href="" class="header-home-item-link">Home</a>
				</li>
				<li class="header-home-item">
					<a href="" class="header-home-item-link">About</a>
				</li>
				<li class="header-home-item">
					<a href="" class="header-home-item-link active">Pricing</a>
				</li>
			</ul>
			<a href="" class="header-home-btn header-home-btn_white">Sign In</a>
			<a href="" class="header-home-btn header-home-btn_green">Join</a>
			<div class="header-home-menu">
				<span class="header-home-line header-home-line_top"></span>
				<span class="header-home-line header-home-line_center"></span>
				<span class="header-home-line header-home-line_bottom"></span>
			</div>
		</div>
	</div>
</header>
<main class="pricing">
	<section class="pricing-first">
		<div class="pricing-container">
			<div class="pricing-first-flex">
				<div class="pricing-first-card">
					<div class="pricing-first-up_card">
						<h4 class="pricing-first-title">Personal</h4>
						<p class="pricing-first-up_text">Build your brand</p>
						<div class="pricing-first-price">$0</div>
						<div class="pricing-first-month">Per month</div>
					</div>
					<div class="pricing-first-down_card">
						<h6 class="pricing-first-down_title">Personal includes</h6>
						<p class="pricing-first-down_text">Build your personal brand <br>
							Publish your projects<br>
							Share your knowledge<br>
							Grow your network</p>
						<a href="#" class="pricing-first-btn">Join edea</a>
					</div>
				</div>
				<div class="pricing-first-card">
					<div class="pricing-first-up_card">
						<h4 class="pricing-first-title">Professional</h4>
						<p class="pricing-first-up_text">Reach customers</p>
						<div class="pricing-first-price">$9</div>
						<div class="pricing-first-month">Per month</div>
					</div>
					<div class="pricing-first-down_card">
						<h6 class="pricing-first-down_title">Professional includes <br>everything in Personal, plus:</h6>
						<p class="pricing-first-down_text">
							Receive job opportunities<br>
							Hire professionals<br>
							Launch your courses<br>
							Sell your products<br>
							Share your events<br>
							Join winning teams</p>
						<a href="#" class="pricing-first-btn">Start my free month</a>
					</div>
				</div>
				<div class="pricing-first-card">
					<div class="pricing-first-up_card">
						<h4 class="pricing-first-title">Business</h4>
						<p class="pricing-first-up_text">Work smarter</p>
						<div class="pricing-first-price">$19</div>
						<div class="pricing-first-month">Per month</div>
					</div>
					<div class="pricing-first-down_card">
						<h6 class="pricing-first-down_title">Business includes everything <br>in Professional, plus:</h6>
						<p class="pricing-first-down_text">Create winning teams<br>
							Work together in a virtual office<br>
							Grow your business</p>
						<a href="#" class="pricing-first-btn">Join edea</a>
					</div>
				</div>
			</div>
			<div class="pricing-first-flex">
				<div class="pricing-first-title-text">
					No committment for 1 month - cancel anytime
				</div>

			</div>
		</div>
	</section>
</main>
<footer class="footer-home">
	<div class="home-container">
		<div class="footer-home-flex">
			<div class="footer-home-pro">
				<div class="footer-home-title">Find a Pro</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Architecture & Design</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Engineering & Building services</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Sustainability & Energy</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Consulting & Surveying</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Management & Construction</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Development & Sales</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Modeling & Visualization</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Programming & Optimization</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-community">
				<div class="footer-home-title">Community</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">People</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Teams</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Articles</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Projects</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Products</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Courses</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Events</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-upgrade">
				<div class="footer-home-title">Upgrade</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Post a job</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Create a team</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Virtual workspace</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Secured transfer</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Affiliate program</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Become a partner</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Invite a friend</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-about">
				<div class="footer-home-title">About</div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">About us</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Site Map</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Pricing</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Terms of services</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Terms of use</a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link">Contact us</a>
					</li>
				</ul>
			</div>
			<div class="footer-home-social">
				<div class="footer-home-logo"><img class="footer-home-logo" src="img/logo.svg" alt="logo"></div>
				<ul class="footer-home-list">
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-one" src="img/fb.svg" alt="facebook"></a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-two" src="img/in.svg" alt="facebook"></a>
					</li>
					<li class="footer-home-item">
						<a href="#" class="footer-home-item-link"><img class="footer-home-icon footer-home-icon-tree" src="img/tw.svg" alt="facebook"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-home-flex">
			<div class="footer-home-made">Made with<img class="footer-home-heart" src="img/heart.svg" alt="heart">by edea.
				<br class="footer-home-br">All rights reserved to © Michael Levy, founder of edea.</div>

		</div>
	</div>


</footer>
<div id="map"></div>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
